.server-down-body{
    background:linear-gradient(rgba(14, 13, 13,0.5),rgba(14, 13, 13,0.5)), url('../images/road_asphalt_marking_130996_2560x1080.jpg');
    background-size: cover;
    height: 100vh;

    .server-message{
 
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        color:white;
        width:80%;
        position: absolute;
        top:40%;
        left:10%;
        @include tablet{
            top:25%;
            grid-row-gap: 3em;
            grid-template-columns: 1fr;
   
    }
    @include mobile{
        top:30%;
}

    .server-message__author{
        color:rgb(255, 174, 0);
        font-family: font("font4");
        font-size: .6em;
        text-align: right;
        margin-right: 2.5em;
        
        @include mini-laptop{
            font-size: .6em;
        }
    }

    button{
        padding:.6em 2em;
        font-family: font("font4");
        border:1px solid gray;
        font-size: .8em;
        background:rgba(82, 78, 78,0.3);
        cursor: pointer;
        transition: 1s;
        margin:1em 0;
        color:white;
        &:hover{
            color:black;
            background:orange;
        }
        a{
            color:white;
            text-decoration: none;
            
        }
      
    }

        .server-message__heading{ 
            font-family: font("font1");
            font-size: 1.5em;
            @include mini-laptop{
                font-size: 1em;
            }
            @include tablet{
                font-size: 1.3em;
        }
        @include mobile{
            font-size: 1em;
    }
        }
        .server-message__text{
           
            font-size: .9em;
            font-family: font("font2");
            line-height: 1.5em;
            @include mini-laptop{
                font-size: .7em;
            }
            @include tablet{
                font-size: .8em;
        }
        @include mobile{
            font-size: .7em;
    }
           
        }

        i{
            color:orange;
            font-size: 150px;
            @include mini-laptop{
                font-size: 110px;
            }
            @include mobile{
                display: none;
        }
        }
    }
}