.main__introduction--container {
  padding: 3em;
  display: grid;
  justify-content: center;
  text-align: center;
  .main__introduction--heading {
    font-family: "Roboto Light";
    @include mini-laptop {
      font-size: 1.5em;
    }
    @include tablet {
      font-size: 1.2em;
    }
  }
  .main__introduction--image {
    display: block;
    margin: auto;
    width: 195px;
    height: auto;
    @include mini-laptop {
      width: 100px;
    }
    @include tablet {
      width: 125px;
      margin: 1em auto;
    }
  }
  .main__introduction--description {
    .description__heading {
      font-family: "Roboto Light";
      @include mini-laptop {
        font-size: 1.7em;
        margin: 0;
      }
      @include tablet {
        font-size: 1.5em;
        margin: 0;
      }
    }
    .main__introduction--information {
      line-height: 2em;
      padding: 1em;
    }
  }
  .main__introduction--button {
    font-size: 1.5em;
    padding: 0.5em;
    color: white;
    width: 100%;
    background-color: $mainColor1;
    border: 2px solid $mainColor2;
    @include laptop {
      font-size: 1em;
    }
    @include tablet {
      font-size: 0.8em;
    }
    &:hover {
      background-color: $maroonDark2;
    }
  }
}
