.header{
    padding:1em;
    display:grid;
    grid-template-columns: 2fr 10fr;
    align-content: center;
    align-items: center;
    background-color: $maroonLight2;
    border-top:4px solid $mainColor2;
    @include tablet{
        grid-template-columns: 1fr;
    }
    img{
        width:105%;
        height:auto;
        @include desktop{
            width:80%;
        }
        @include tablet{
            width:20%;
            display:block;
            margin:auto;
        }
    }
    div{
        padding:0em 1em;
        @include tablet{
           text-align: center;
           margin:.5em 0;
        }
        h1{
            color:$mainColor2;
            font-size: 2.3em;
            font-family: font(font2);
            @include desktop{
                font-size: 3.2em;
            }
            @include laptop{
                font-size: 1.5em;
            }
            @include tablet{
                font-size: 1.5em;
            }
        }
     
        p{
            font-family: font(font4);
            font-size: .9em;
            color:white;
            @include laptop{
                font-size: .7em;
            }
            @include tablet{
                font-size: .7em;
            }
        }
        h4{
            font-family: font(font1);
            font-size: 2.5em;
            color:white;
            text-align:right;
            font-style: oblique;
            border-bottom: 1px solid $mainColor2;
            margin:0 0 0 5em;
            @include laptop{
                font-size: 1.5em;
            }
            @include tablet{
                text-align: center;
                margin:0;
                font-size: 1.5em;
            }
        }
        h6{
            font-family: font(font2);
            font-size:.8em;
            float:right;
            color:white;
            float: right;
            padding: .5em;
            @include laptop{
                font-size: .6em;
            }
            @include tablet{
                font-size: .7em;
            }
        }

      
    }
  
}