//Styles for the College and Senior High School Application Form

//Login Form
.login__form--container{
    position: relative;
    width:80%;
    min-height:500px;
    padding:3em;
    margin:auto;
    margin:2em auto;
    text-align: center;
    display:grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    border:1px solid $mainColor2;
    border-radius: 5px;
    max-width: 1000px;
 
    @include tablet{
        min-height:400px;
    }

    .login__form--description{
        .form--heading{
         font-size:1.2em;
        
         @include laptop{
            font-size:1em;
        }
        @include mini-laptop{
            font-size: 1.3em;
        }
        @include tablet{
            font-size: 1.1em;
            margin-top:2.5em;
        }
        @include mobile{
            font-size: .8em;
        }
        }
        .form--information{
            font-size:.8em;
            @include laptop{
                font-size:.6em;
            }
            @include mini-laptop{
                font-size: .8em;
            }
            @include tablet{
                font-size: .7em;
            }
            @include mobile{
                font-size: .6em;
            }
        }

    }


    .login__form--heading{
        text-align: left;
        color:white;
        font-family: 'Roboto Light';
        font-size: 1.3em;
        position: absolute;
        top:0;
       background-color:$mainColor1;
       display:block;
       width:100%;
       padding:.5em;
       @include tablet{
        font-size: 1em;
    }
    }
   
    .login-form{
        text-align: center;

        .login-form__button{
            font-family: font(font3);
            background-color:$mainColor1;
            color:white;
            border:none;
            border-radius: 2px;
            margin: 1em;
            color:rgb(224, 223, 223);
            padding:.4em 1.5em;
            @include mobile{
                font-size: .6em;
            }
            &:hover{
                color:$mainColor2;
            }

        }

        .login-form__input{
            
            .login-form__input--label{
                @include tablet{
                    font-size: .7em;
                }
                @include mobile{
                    font-size: .5em;
                }
            }
            .login-form__input--input{
                @include mobile{
                    font-size: .5em;
                }
                @include tablet{
                    font-size: .7em;
                }
            }
        }
        
    }
}


//College Button
.college-form__button{
    margin: 2em 0em;
    text-align: right;
    
    .college-form__button--button{
        font-family: font(font3);
        background-color:$mainColor1;
        color:white;
        border:none;
        border-radius: 2px;
        margin: 1em;
        color:rgb(224, 223, 223);
        padding:.4em 1.5em;
        cursor: pointer;
        
        &:hover{
            color:$mainColor2;
        }
        @include mini-laptop{
            font-size:.8em;
        }
        @include tablet{
            font-size:.7em;
        }
    }
  }

  //Senior High School Button
  .shs-form__button{
    margin: 2em 0em;
    text-align: right;
    
    .shs-form__button--button{
        font-family: font(font3);
        background-color:$mainColor3;
        color:white;
        border:none;
        border-radius: 2px;
        margin: 1em;
        color:rgb(224, 223, 223);
        padding:.4em 1.5em;
        cursor: pointer;
        
        &:hover{
            color:$mainColor2;
        }
        @include mini-laptop{
            font-size:.8em;
        }
        @include tablet{
            font-size:.7em;
        }
    }
  }