//Colors to Use
$mainColor1:#800000;
$maroonLight1:#CC0000;
$maroonLight2:#8C0000;
$maroonDark2:#660000;
$maroonDark1:#400000;

$mainColor2:#ffd700;
$goldLight1:#E6C300;
$goldLight2:#BFA300;
$goldDark2:#806C00;
$goldDark1:#403600;


//Senior High School Color
$mainColor3:#000E40;
$blueLight1:#0138FF;
$blueLight2:#0032E6;
$blueDark2:#0029BF;
$blueDark1:#001C80;

// BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-mini-laptop:750px;
$breakpoint-tablet:560px;
$breakpoint-mobile:400px;

